{% extends 'admin/base.html' %}

{% block app_content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="{{ url_for('admin.dashboard') }}">
                            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                                </path>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page.title|safe }}</li>
                </ol>
            </nav>
            <h2 class="h4">{{ page.h1|safe }}</h2>
            <p class="mb-0"></p>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{url_for('admin.tags')}}">
                <- Go to Tags</a>
        </div>
    </div>

    {% include 'admin/components/form_errors.html' %}
    
    <form id="FormEditTag">
        <div class="row">
            <div class="col-12 col-xl-9">
                <div class="card card-body border-0 shadow mb-4">
                    {# remember som hidden fields here for security etc. #}
                    {{ form.csrf_token }}

                    <div class="col-12">
                        <div class="mb-4">
                            {{ form.name.label }}
                            {{ form.name(class="form-control") }}
                            <small>
                                The name is how it appears on your site.
                            </small>
                        </div>
                        <div class="mb-4">
                            {{ form.slug.label }}
                            {{ form.slug(class="form-control") }}
                            <small>
                                The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters,
                                numbers,
                                and hyphens.
                            </small>
                        </div>
                        <div class="mb-4">
                            {{ form.description.label }}
                            {{ form.description(size=5, rows=2, class="form-control") }}
                        </div>
                        <div class="mt-4">
                            {{ form.submit(class="btn btn-gray-800 mt-2 animate-up-2") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='admin/js/form.controller.js') }}"></script>
    <script>
        new FormController('#FormEditTag', {
            debug: true,
            action: '{{ url_for("admin.edit_tag", id=tag.id) }}',
            submitSelector: '#submit',
            requiredFields: ['name']
        })
    </script>
{% endblock %}