alembic
black
click
dnspython
email-validator
Flask
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask-Sitemap
marshmallow-sqlalchemy
mypy-extensions
passlib
pathspec
psycopg2
Pygments
pyparsing
pytest
python-dotenv
SQLAlchemy
WTForms
