{% extends 'base.html' %}

{% block content %}

    <!-- ...::: Start Vider Info Display Section :::... -->
    <div class="video-info-display-section section-gap-tb-165">
        <div class="video-info-display-box">
            <div class="container">
                <div class="video-info-display-wrapper">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-8 col-10 offset-1 offset-sm-2 offset-md-3 offset-lg-0">
                            <div class="video-card">
                                <div class="image flip">
                                    <img class="img-fluid" src="{{url_for('static', filename='images/portrait/portrait-hero.png')}}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-8 offset-md-2 offset-lg-0 offset-xl-1">
                            <div class="video-info-content">
                                <h2 class="title">I’m {{ me.name }}</h2>

                                <h3 class="sub-title">
                                    {{ me.position }}
                                </h3>

                                <p>{{ me.resume }}.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...::: End Vider Info Display Section :::... -->

    <!-- ...::: Start Resume Info Display Section :::... -->
    <div class="resume-info-display-section  section-gap-tb-165 section-bg">
        <div class="resume-info-display-box">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="resume-tab nav">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#education-tab">Education</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#experience-tab">Experience</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="resume-info-display-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="education-tab" role="tabpanel">
                                    <ul class="resume-list">
                                        <!-- Start Resume Tab List Single Item -->
                                        <li class="resume-tab-list-single-item">
                                            <div class="content">
                                                <div class="left">
                                                    <span class="year">2009 - 2010</span>
                                                </div>
                                                <div class="right">
                                                    <h3 class="title">Bachelor of Business Administration </h3>
                                                    <span class="institute-name">University of California, Berkeley</span>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been indus dard dummy text ever since the 1500 when an uniknown prnter took galley of type and scrambled make specimen book has not only five centuries the into electronic.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Resume Tab List Single Item -->
                                        <!-- Start Resume Tab List Single Item -->
                                        <li class="resume-tab-list-single-item">
                                            <div class="content">
                                                <div class="left">
                                                    <span class="year">2012 - 2014</span>
                                                </div>
                                                <div class="right">
                                                    <h3 class="title">Masters of Business Administration </h3>
                                                    <span class="institute-name">University of California, Berkeley</span>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been indus dard dummy text ever since the 1500 when an uniknown prnter took galley of type and scrambled make specimen book has not only five centuries the into electronic.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Resume Tab List Single Item -->
                                        <!-- Start Resume Tab List Single Item -->
                                        <li class="resume-tab-list-single-item">
                                            <div class="content">
                                                <div class="left">
                                                    <span class="year">2015 - 2018</span>
                                                </div>
                                                <div class="right">
                                                    <h3 class="title">Bachelor of Graphic Arts</h3>
                                                    <span class="institute-name">University of California, Berkeley</span>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been indus dard dummy text ever since the 1500 when an uniknown prnter took galley of type and scrambled make specimen book has not only five centuries the into electronic.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Resume Tab List Single Item -->
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="experience-tab" role="tabpanel">
                                    <ul class="resume-list">
                                        <!-- Start Resume Tab List Single Item -->
                                        <li class="resume-tab-list-single-item">
                                            <div class="content">
                                                <div class="left">
                                                    <span class="year">2016 - 2018</span>
                                                </div>
                                                <div class="right">
                                                    <h3 class="title">Web Designer</h3>
                                                    <span class="institute-name">Graphic Dev</span>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been indus dard dummy text ever since the 1500 when an uniknown prnter took galley of type and scrambled make specimen book has not only five centuries the into electronic.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Resume Tab List Single Item -->
                                        <!-- Start Resume Tab List Single Item -->
                                        <li class="resume-tab-list-single-item">
                                            <div class="content">
                                                <div class="left">
                                                    <span class="year">2018 - 2019</span>
                                                </div>
                                                <div class="right">
                                                    <h3 class="title">Junior Web Developer</h3>
                                                    <span class="institute-name">Acme Lab</span>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been indus dard dummy text ever since the 1500 when an uniknown prnter took galley of type and scrambled make specimen book has not only five centuries the into electronic.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Resume Tab List Single Item -->
                                        <!-- Start Resume Tab List Single Item -->
                                        <li class="resume-tab-list-single-item">
                                            <div class="content">
                                                <div class="left">
                                                    <span class="year">2019 - 2020</span>
                                                </div>
                                                <div class="right">
                                                    <h3 class="title">Senior Web Developer</h3>
                                                    <span class="institute-name">Devtwist</span>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been indus dard dummy text ever since the 1500 when an uniknown prnter took galley of type and scrambled make specimen book has not only five centuries the into electronic.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Resume Tab List Single Item -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...::: End Resume Info Display Section :::... -->

{% endblock %}