{% extends 'base.html' %}

{% block content %}
    <!-- ...::: Start Contact Section :::... -->
    <div class="contact-section section-gap-tb-165">
        <div class="contact-box pos-relative">
            <div class="container">
                <div class="row flex-lg-row flex-column-reverse">
                    <div>
                        <div class="contact-form-wrapper section-mt-165">
                            <!-- Start Section Content -->
                            <div class="content">
                                <span class="section-tag">Get In Touch</span>
                                <h2 class="title">If you have any porject or need help. Contact me</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting emndustry lorem Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown print
                                    only five centuries, but also the leap into electronic.</p>
                            </div>
                            <!-- End Section Content -->

                            <!-- Start Contact Form Box -->
                            <div class="contact-form-box">
                                <form id="contact-form" class="default-form contact-form" action="assets/mail/contact.php" method="post">
                                    <div class="row mb-n6">
                                        <div class="col-xl-6 mb-6">
                                            <div class="default-form-group">
                                                <input name="name" type="text" placeholder="Name" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 mb-6">
                                            <div class="default-form-group">
                                                <input name="email" type="email" placeholder="Email" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 mb-6">
                                            <div class="default-form-group">
                                                <input name="phone" type="tel" placeholder="Phone" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 mb-6">
                                            <div class="default-form-group">
                                                <input name="subject" type="text" placeholder="Subject" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 mb-6">
                                            <div class="default-form-group">
                                                <textarea name="message" placeholder="Comment" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-6">
                                            <div class="default-form-group tex-center">
                                                <button type="submit" class="btn btn-lg btn-outline-one">Submit Message</button>
                                            </div>
                                        </div>
                                        <p class="form-messege"></p>
                                    </div>
                                </form>
                            </div>
                            <!-- End Contact Form Box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...::: End Contact Section :::... -->
{% endblock %}